* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0E4475;
  --accent-color: #26DEF6;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  height: 100%;
  width: 100%;
  padding: 24px;
  background-color: var(--primary-color);
  color: #C0E7FA;
  
  background-image: url("./assets/bg-triangles.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 12px;
  margin-bottom: 48px;
}

#title {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;

}

.logo {
  width: 160px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
}

.instructions {
  display: flex;
  flex-direction: column;
  flex: 4;
  gap: 16px;
}

.instructions .list {
  margin: 0;
  padding-left: 20px;
  list-style-position: outside;
}

.instructions-title {
  font-weight: 400;
  color: var(--accent-color);
}

.instructions .list li::marker {
  color: var(--accent-color);
}

.data {
  display: flex;
  flex-direction: column;
}

.test-data {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 8px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #9FC5E8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.results-cards {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.array-data {
  font-size: 1.2rem;
  color: white;
}

.card-title {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.data-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.expected {
  background-color: #8FCE00;
}

.your-result {
  background-color: #CE0079;
  border-bottom-right-radius: 8px;
}

.number-result {
  font-size: 2.8rem;
  font-weight: semi-bold;
  color: white;
}

/* Desktop */
@media (min-width: 768px) {
  body {
    background-size: auto 100%;
    padding: 32px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  #title {
    line-height: 1;
  }
  
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .instructions {
    flex: 4;
  }

  .data {
    flex: 3;
  }
}
