* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #26DEF6;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  padding: 16px;
  background-color: #0E4475;
  color: #C0E7FA;
  
  background-image: url("./assets/bg-triangles.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

#title {
  font-size: 2.8rem;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 32px;

  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.instructions-title {
  color: var(--accent-color);
}

.instructions .list li::marker {
  color: var(--accent-color);
}

.data {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.test-data {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #9FC5E8;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.results-cards {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.card-title {
  font-weight: bold;
}

.data-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
}

.expected {
  background-color: #8FCE00;
  padding: 16px;
}

.your-result {
  background-color: #CE0079;
  padding: 16px;
  border-bottom-right-radius: 8px;
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    background-size: auto;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .content {
    flex-direction: row;
    align-items: stretch;
  }

  .instructions {
    flex: 4;
  }

  .data {
    flex: 3;
  }
}
