* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

:root {
  --accent-color: #26DEF6;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #0E4475;
  color: #C0E7FA;
  
  background-image: url("./assets/bg-triangles.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

#title {
  font-size: 2.8rem;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.instructions-title {
  color: var(--accent-color);
}

.instructions .list li::marker {
  color: var(--accent-color);
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    background-size: auto;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .content {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
  }

  .instructions {
    flex: 4;
  }

  .data {
    flex: 3;
  }
}
