* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #0E4475;
  color: #C0E7FA;
  
  background-image: url("./assets/bg-triangles.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

@media (min-width: 1024px) {
  body {
    background-size: auto;
  }
}

.header {
  display: flex;
  flex-direction: column; /* mobile */
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

#title {
  font-size: 2.8rem;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}